.investment-record-detail-container {
    height: 100%;
    background-color: #F9F9F9;
    font-family: PingFang SC;
    padding-bottom: 30px;
    .record-detail-header-box {
       background: linear-gradient(-35deg, #FF3333 0%, #FC7C64 100%);
		height: 224px;
        padding: 45px 31px 24px;
		.acter{
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
		}
		.acter1{
			font-size: 14px;
			color: #FFFFFF;
		}
		.bot{
			display: flex;
			justify-content: space-between;
		}
		.box{
			margin-left: 20px;
			margin-top: 20px;
			margin-right: 20px;
		}
		.box1{font-size: 27px;
		font-weight: bold;
		color: #FFFFFF;
		text-align: center;
		}
		.box2{
			font-size: 14px;
			color: #FFFFFF;
			text-align: center;
			margin-top: 15px;
		}
        .header-top {
            text-align: center;
            padding-bottom: 28px;
            &-money {
                font-size: 27px;
                font-family: DIN Alternate;
                font-weight: bold;
                color: #FFFFFF;
                padding-bottom: 13px;
            }
            &-text {
                font-size: 15px;
                font-family: PingFang SC;
                font-weight: 500;
                color: #FFFFFF;
            }
        }
        .header-bottom {
            background: rgba(255, 255, 255, .2);
            border-radius: 7px;
            padding: 22px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-item {
                font-size: 13px;
                font-weight: 500;
                color: #FFFFFF;
                .header-title {
                    padding-bottom: 14px;
                }
            }
        }
    }
    .record-detail-list {
        padding: 10px 15px 0 15px;
		background: #F6F8FC;
        .record-detail-list-box {
            .investment-list-box {
                display: flex;
                justify-content: space-between;
                padding-bottom: 4px;
                .investment-list-line {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-right: 10px;
                    text-align: center;
                    &-top {
                        width: 8px;
                        height: 8px;
                        border: 2px solid #B7B7B7;
                        border-radius: 50%;
                        margin-bottom: 4px;
                    }
                    &-bottom {
                        height: calc(~'100% - 8px');
                        border-left: 2px dashed #B7B7B7;
                    }
                }
                .investment-list-info-box {
                    flex: 1;
                    .list-info-top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 15px;
                        &-left {
                            flex: 1;
                            font-size: 13px;
                            font-weight: 500;
                            color: #6F6D70;
                        }
                        &-right {
                            width: auto;
                            font-size: 13px;
                            font-weight: 500;
                            color: #023EFE;
                        }
                    }
                }
                .investment-list-info {
                    flex: 1;
                    background: #FFFFFF;
                    border-radius: 7px;
                    padding: 15px 15px 16px 17px;
                    margin-bottom: 50px;
					margin-top: -50px;
                    .project-name-box {
                        display: flex;
                        .project-name {
                            flex: 1;
                            padding-right: 10px;
                            font-size: 15px;
                            line-height: 18px;
                            font-weight: bold;
                            color: #323232;
                            padding-bottom: 10px;
                        }
						.project-name img{
							width: 7px;
							height: 13px;
							float: right;
						}
                        .status-icon {
                            width: 21px;
                            height: 21px;
                            background-image: url("./../../assets/images/shufeng/project/project-1.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }

                    .project-tag-box {
                        display: flex;
                        align-items: center;
                        padding-bottom: 25px;
                        .project-tag {
                            height: 21px;
                            padding: 0 10px;
                            text-align: center;
                            line-height: 19px;
                            background: #FFF7F8;
                           
                            border-radius: 3px;
                            font-size: 11px;
                            font-weight: 500;
                            color: #FF4F43;
                        }
                    }
					.too{
						display: flex;
					}
					.list-info-top-left{
						margin-top: 23px;
					}
					.list-info-top-left span{
						color: #FF7E00;
						float: right;
					}
					.cha{
						width: 99px;
						height: 37px;
						background: #FF8C0E;
						border-radius: 18px;
						font-size: 15px;
						color: #FFFFFF;
						text-align: center;
						line-height: 37px;
						
					}
                    .project-money {
                        // display: flex;
                        // justify-content: space-between;
                        // align-items: center;
						margin-right: 32px;
                        // &.one {
                        //     padding-bottom: 12px;
                        // }
                        // &-left {
                        //     font-size: 13px;
                        //     font-weight: 500;
                        //     color: #2D2D2D;
                        // }
                        // &-right {
                        //     font-size: 13px;
                        //     font-weight: 500;
                        //     text-decoration: underline;
                        //     color: #023EFE;
                        // }
						.project-money-left{
							font-size: 12px;
							color: #6F6D70;
						}
						.acc{
							font-size: 21px;
							color: #F33B20;
							font-weight: bold;
							margin-top: 10px;
						}
                    }
                }
            }
        }
    }
    .record-detail-list-item{
        background-color: #FFFFFF;
        border-radius: 13px;
        margin-top: 15px;
        padding: 15px 67px 19px 18px;
        position: relative;
        overflow: hidden;
        .top{
            display: flex;
            align-items: center;
            .top-num{
                background-color: #D6E9FE;
                border: 1px solid #0F79FF;
                border-radius: 3px;
                line-height: 20px;
                padding: 0 8px;
                font-size: 12px;
                font-weight: 500;
                color: #0F79FF;
                flex-shrink: 0;
            }
            .top-title{
                font-size: 15px;
                font-weight: bold;
                color: #000000;
                margin-left: 9px;
            }
        }
        .middle{
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            margin-top: 13px;
            .middle-time{
                color: #6F6D70;
            }
            .middle-status{
                color: #0F79FF;
                margin-left: 8px;
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            margin-top: 17px;
            .bottom-left, .bottom-right{
                text-align: center;
                .bottom-money{
                    font-size: 21px;
                    font-family: DIN Alternate;
                    font-weight: bold;
                    color: #0F79FF;
                }
                .bottom-title{
                    font-size: 12px;
                    font-weight: 500;
                    color: #6F6D70;
                    margin-top: 7px;
                }
            }
        }
        .list-item-right{
            position: absolute;
            width: 100px;
            line-height: 20px;
            background-color: #0F79FF;
            text-align: center;
            top: 10px;
            right: -30px;
            transform: rotate(45deg);
            font-size: 12px;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
}
